@import url('https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700;900&display=swap');

:root {
  --primary-dark: #0b132b;
  --secondary-dark: #1c2541;
  --tertiary-dark: #3a506b;
  --primary-light: #6fffe9;
  --secondary-light: #5bc0be;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----Global---- */
body {
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
  color: #fff;
  background: #0b132b;
}

a {
  color: #fff;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

label {
  display: block;
}

input {
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

/* ----Utilities---- */
.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  outline: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--secondary-light);
  color: var(--primary-dark);
  transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
  background-color: var(--primary-light);
}

.btn-secondary {
  background-color: var(--tertiary-dark);
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.btn-secondary:hover {
  background-color: var(--secondary-dark);
}

.logo {
  height: 35px;
  width: 35px;
}

.my-logo {
  letter-spacing: 0.1rem;
  font-weight: 200;
  margin: 0 0.2rem;
}

.field {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #fff;
  margin: 2.5rem auto 1rem;
}

.label {
  color: #7e7e7e;
  font-size: 1.2rem;
  cursor: text;
  transition: all 300ms ease-in-out;
  position: absolute;
  transform: translateY(-2rem);
  transform-origin: 0%;
}

.input {
  outline: none;
  border: none;
  overflow: hidden;
  width: 100%;
  color: #fff;
  padding: 0.25rem 0;
  background: none;
}

.field::after {
  content: '';
  position: relative;
  display: block;
  height: 4px;
  background: var(--secondary-light);
  transform: scaleX(0);
  transform-origin: 0%;
  transition: transform 400ms ease;
  top: 2px;
}

.field:focus-within {
  background-color: transparent;
}

.field:focus-within::after {
  transform: scaleX(1);
}

.field:focus-within .label,
.input:not(:placeholder-shown) + .label {
  transform: scale(0.7) translateY(-5.5rem);
}

/* ------------Header------------ */
/* ----Navbar---- */
#navbar {
  height: 60px;
  background-color: var(--secondary-dark);
}

#navbar .navbar-container {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

#navbar .navbar-container .logo {
  position: absolute;
  right: 0;
}
/* ----Sidebar---- */
.sidebar {
  display: none;
  position: fixed !important;
  height: 100%;
  min-width: 200px;
  padding-left: 48px;
  background-color: #1c2541;
  z-index: 1;
  animation: animateleft 0.2s cubic-bezier(0.4, 0, 1, 1);
}

.sidebar ul li i {
  width: 30px;
}

.sidebar ul li .close {
  font-size: 1.4rem;
}

.sidebar-block .sidebar-item {
  width: 100%;
  padding: 8px 16px;
  text-align: left;
  border: none;
  outline: none;
}
/* ------------Main------------ */

/* ----Add tasks---- */
main {
  min-height: calc(100vh - 60px);
  transition: margin-left 0.2s cubic-bezier(0.4, 0, 1, 1);
  background: linear-gradient(rgb(11, 19, 43, 0.8), rgb(11, 19, 43, 0.8)),
    url('/img/bg.jpg') center center/cover no-repeat;
  background-attachment: fixed;
}

main .main-container {
  height: 100%;
  max-width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}

main .main-container > div {
  margin-bottom: 7rem;
}

/* ----Task list---- */
.task-list .collection {
  margin-bottom: 1.5rem;
}

.task-list .collection .collection-item {
  border: 1px solid var(--tertiary-dark);
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.task-list .collection .collection-item .delete-item {
  position: absolute;
  right: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.task-list .collection .collection-item .delete-item:hover {
  color: rgb(207, 0, 0);
}

/* ----Footer---- */
footer {
  height: 80px;
  color: rgb(168, 168, 168);
  font-size: 0.9rem;
}

footer .footer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

footer .footer-container ul {
  display: flex;
  justify-content: space-between;
  width: 120px;
  margin-top: 0.5rem;
}
/* ----Keyframes---- */
@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
